<% layout('/layouts/boilerplate') %>
<body>
    <h1>All Listings</h1>
    <form action="http://localhost:3000/listings/new" method="GET">
        <button>Create New Listing</button>
    </form>
    
    <ul>
        <% for( let listing of allListings){ %>
            <li><a href="/listings/<%= listing.id %>"><b><%= listing.title %></b> </a></li>
              <p><%= listing.description%></p>
       <%  } %>
        
    </ul>    
</body>
